/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import './assets/scss/theme';
@import './assets/scss/material-theming';
.bg-Color {
    background-color: var(--bg-color) !important;
}

.text-Color {
    color: var(--text-color) !important;
}

.hover-Color {
    color: var(--hover-color);
}